
form(class = "punch-in-out-form", action = "/punch-in-out/#{project_id}", method = "post")
  input(type = "hidden", name = "punching-in", value = Number(!!punching_in))
  input(type = "hidden", name = "description")
  button(type = "submit") Punch #{punching_in ? 'in' : 'out'}