
h1 Time Tracker

- var punching_in = true;

ul.key
  li.bill-pending Not billed
  li.billed Billed
  li.payment-pending Payment pending
  li.payment-received Payment received

- if (timestamps)
  - each timestamp in timestamps
    - punching_in = timestamp.time_in && timestamp.time_out

- if (billing_periods)
  - each period in billing_periods
    != partial("billing_period", {period: period})

form(action = "/punch-in-out/#{project_id}", method = "post")
  input(type = "hidden", name = "punching-in", value = punching_in)
  input(type = "submit", value = "Punch #{punching_in ? 'in' : 'out'}")
